body {
  background-color: #0C9383;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
}

#root {
  margin: 0 auto;
  text-align: center;
  height:100vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width:480px) {
  .container {
    max-width: 480px;
  }
}

.logo-container {
  display:flex;
  justify-content:start;
}

.circles {
  max-width: 12.5%;
}

@media screen and (max-width: 480px) {
  .circles {
    max-width: 20%;
  }
}

.phenyx h1, .studios h1 {
  font-family: "Poppins", "Rubik", sans-serif;
  font-weight: 600;
  font-size: 8em;
  color: #1C1C19;
  margin:0;
}

@media screen and (max-width: 480px) {
  .phenyx h1, .studios h1 {
    font-size: 5em;
  }
}

.coming-soon-div {
  margin: 0 auto 2rem;
}

.coming-soon {
  font-family: "Unica One", sans-serif;
  font-size: 3rem;
  color: #1C1C19;
}

@media screen and (max-width:480px) {

  .coming-soon-div {
    margin: 0 auto 6rem;
  }
}


